# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3

# Virtual environments
venv/
.env

# React / Node
node_modules/

# Cache
cache/
dist/
build/

# OS & IDE
.DS_Store
.vscode/
.idea/

#local purposes
gemini.txt
scraping.txt
scrapingg.txt
testing/
start.txt